setuptools>=65.0.0
mlflow
pandas
scikit-learn==1.4.2
streamlit
shap
plotly
httpx
joblib
python-dotenv
numpy<2
scipy
matplotlib
statsmodels
pyarrow
rich
xgboost==1.7.6
lightgbm
catboost
imbalanced-learn
streamlit-extras